[submodule "plant-pal-backend"]
	path = plant-pal-backend
	url = https://github.com/johendrickson/capstone-backend

[submodule "plant-pal-frontend"]
	path = plant-pal-frontend
	url = https://github.com/johendrickson/capstone-frontend
